*{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    text-align: center;
    padding: 2%;
}
.main-index{
   width: 80%;
   margin: auto; 
}

.main-index h1{
  text-align: center;
 } 

.liste{
    display: flex;
    flex-direction: column;
}

#modif{

    width: 80%;
    margin: auto;
}

.validation{
    width: 10%;
    margin: auto;
}
